<div class="container">

  <div *ngIf="this.clima.clima.ciudad !== undefined" class="container mt-2 mb-2">
    <p>Ciudad: {{this.clima.clima.ciudad}}</p>
    <p>Temperatura {{this.clima.clima.temperatura}}°C, Sensación Térmica {{this.clima.clima.sensasionTermica}}°C</p>
</div>


    <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">País</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Clima</th>
        <th scope="col">Sensación Térmica</th>
      </tr>
    </thead>
    <tbody>
       <tr *ngFor="let climas of clima.list">
          <td>{{climas.pais}}</td>
          <td>{{climas.ciudad}}</td>
          <td>{{climas.temperatura}}°C</td>
          <td>{{climas.sensasionTermica}}°C</td>          
       </tr>        
    </tbody>
  </table>
</div>
