<div class="jumbtron">
    <h1 class="display-4 text-center">
        Consulta de Clima - MvFactory
    </h1>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="showResults()">
        <div class="row mt-5">
          <div class="col-sm">
            <select name="select" class="form-select" formControlName="selectProv">
                <option value="Buenos Aires">Bs. As.</option>
                <option value="Catamarca">Catamarca</option>
                <option value="Chaco">Chaco</option>
                <option value="Chubut">Chubut</option>
                <option value="Cordoba">Cordoba</option>
                <option value="Corrientes">Corrientes</option>
                <option value="Entre Rios">Entre Rios</option>
                <option value="Formosa">Formosa</option>
                <option value="Jujuy">Jujuy</option>
                <option value="La Pampa">La Pampa</option>
                <option value="La Rioja">La Rioja</option>
                <option value="Mendoza">Mendoza</option>
                <option value="Misiones">Misiones</option>
                <option value="Neuquen">Neuquen</option>
                <option value="Rio Negro">Rio Negro</option>
                <option value="Salta">Salta</option>
                <option value="San Juan">San Juan</option>
                <option value="San Luis">San Luis</option>
                <option value="Santa Cruz">Santa Cruz</option>
                <option value="Santa Fe">Santa Fe</option>
                <option value="Sgo. del Estero">Sgo. del Estero</option>
                <option value="Tierra del Fuego">Tierra del Fuego</option>
                <option value="Tucuman">Tucuman</option>
            </select>   
          </div>
          <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" formControlName="historico">
                <label class="form-check-label" for="defaultCheck1">
                  Incluir Histórico
                </label>
              </div>
          </div>
          <div class="col-sm">
            <button type="submit" class="btn btn-primary"> Consultar</button>
          </div>
        </div>
        </form>
      </div>     
      <app-grid>

      </app-grid>
</div>

